
.vs/IntroduceMySelf/v16/.suo

.vs/

NamHunsPortflio/Client/obj/

NamHunsPortflio/Server/obj/

NamHunsPortfolio/Client/obj/

NamHunsPortfolio/Client/bin/

NamHunsPortfolio/Server/obj/

NamHunsPortfolio/Shared/obj/

NamHunsPortfolio/Shared/bin/

web/obj/

CholongFathersPortfolio/Client/bin/

CholongFathersPortfolio/Client/obj/

CholongFathersPortfolio/Server/obj/

CholongFathersPortfolio/Server/bin/

CholongFathersPortfolio/Shared/bin/

CholongFathersPortfolio/Shared/obj/
